{% extends 'base.html.twig' %}
{% block title %}Lista de productos{% endblock %}
{% block headerContent %}Lista de productos{% endblock %}
{% block bodyContent %}
    <div class="button backgroundGreen">
        <span class="glyphicon glyphicon-plus"></span>
        <a id="createProductLink" href="{{ path('products_new') }}">Nuevo producto</a>
    </div>
    <div class="inner cover tableContainer">
        <table>
            <thead>
                <tr>
                    <th class="backgroundGreen">Id</th>
                    <th class="backgroundGreen">Nombre</th>
                    <th class="backgroundGreen">Descripcion</th>
                    <th class="backgroundGreen">Codigo</th>
                    <th class="backgroundGreen">Categoria</th>
                    <th class="backgroundGreen">Linea</th>
                    <th class="backgroundGreen">Precio</th>
                    <th class="backgroundGreen">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.nombre }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.price }}</td>
                    <td class="tdCenter">
                        <div class="buttonsTableContainer">
                            <div class="button backgroundBlue">
                                <span class="glyphicon glyphicon glyphicon-pencil"></span>
                                <a class="editProductLink" href="{{ path('products_edit', { 'id': product.id }) }}">Editar</a>
                            </div>
                            <div class="button backgroundOrange">
                                <span class="glyphicon glyphicon-minus"></span>
                                <a class="deleteProductLink confirm" href="{{ path('products_delete', { 'id': product.id }) }}">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="dialog">
        <div class="buttonsTableContainer">
            <span class="spanDialog">¿Esta seguro que quiere eliminar este registro permanentemente?</span>
            <div class="button backgroundBlue">
                <span class="glyphicon glyphicon-triangle-left"></span>
                <a class="editProductLink" href="#" onclick="return false;">Cancelar</a>
            </div>
            <div class="button backgroundOrange">
                <span class="glyphicon glyphicon-minus"></span>
                <a class="deleteProductLink" href="#" onclick="return false;">Eliminar</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/projectsymfony/js/products.js') }}"></script>
{% endblock %}
